
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}


<h4>박민영이 만든 홈페이지! 한 번 구경하고 가세요!</h4>

<div class="picture">
    <img src="https://blogpfthumb-phinf.pstatic.net/MjAyMjEyMTZfOSAg/MDAxNjcxMjAyMDYzNTY0.v_k-E0fssJVz6sZBOPN5_rmkiRANSeGDR2rsEy5p428g.jRoN5am7kKw1E7-fQ83DGOBgbjbrSrMntoFTBAmcQ28g.PNG.pmyamy1/22.png/22.png?type=w161" >
</div>
<p></p>
<div class="profile">
    <h5><p>프로필</p></h5>
    <ol>
        <li>이름: 박민영</li>
        <li>영문 이름: PARK MIN YOUNG</li>
        <li>나이: 23살(만 22세)</li>
        <li>키: 167cm</li>
        <li>몸무게: 52kg</li>
        <li>추가 정보 1: 곧 졸업을 앞둔 20학번</li>
        <li>추가 정보 2: 새로운 진로를 준비 중</li>
        <li>한양여자대학교 다니면서 아쉬운 점: 20학번이라 집에서 2년 동안 온라인 수업만 들음</li>
    </ol>
</div>
{% endblock %}