
{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/style.css' %}">

<h4>박민영이 만든 설문조사, 북마크, 블로그 페이지를 구경하세요! </h4>

<div class="picture">
    <img src="https://blogpfthumb-phinf.pstatic.net/MjAyMTAxMjNfMjM4/MDAxNjExMzcxMTY4Mzg0.-P_dH16FgZWD64RFvOa4ebqxqUSSPJ3Sax_R4rlAbWIg.p_1nqVevE9vWRBzGcMkE7IdrUM3TzwUB29hy1GrGnx0g.JPEG.pmyamy1/profileImage.jpg?type=w161" >
</div>
<p></p>
<div class="profile">
    <h5><p>프로필 소개</p></h5>
    <ol>
        <li>이름: 박민영</li>
        <li>나이: 22</li>
        <li>키: 168cm</li>
        <li>사는 곳: 서울특별시</li>
        <li>직업: 학생</li>
        <li>다짐: 제발 열심히 살자!</li>
    </ol>
</div>
{% endblock %}